{% extends 'layouts/base.html.twig' %}

{% block content %}
  <section class="section section-lg bg-gray-100">
    <div class="container">
      <div class="row row-50 justify-content-center justify-content-lg-between">
        <div class="col-md-10 col-lg-6 col-xl-5">
        {{ page.content|raw }}
      </div>
    </div>
  </section>
{% endblock %}

