{% set styles = 'background-color: #192531' %}
{% for image in page.media.images %}
  {% set styles = "background-image: url('"~image.url~"')" %}
{% endfor %}

<section class="section section-sm text-center bg-image context-dark" style="{{ styles }}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-12">
        <div class="box-cta-thin">
          {{page.content|raw}}
        </div>
      </div>
    </div>
  </div>
</section>
