<section class="section section-lg bg-gray-800" id="historique">
	<div class="container">
		<h3 class="text-center">Historique</h3>
		<!-- Timeline Classic-->
		<article class="row timeline-classic">
			<div class="timeline-classic-item">
				<div class="timeline-classic-item-aside"><img class="timeline-classic-item-image" src="images/montreal_1865_big.jpg" alt=""/>
				</div>
				<div class="timeline-classic-item-divider"></div>
				<div class="timeline-classic-item-main">
					<p class="timeline-classic-item-title">1872 - 1880</p>
					<p class="thumbnail-classic-item-subtitle">Dans la seconde moitié du XIXe siècle, la ville de Montréal connaît un développement urbain important.</p>
					<p class="thumbnail-classic-item-description">On assiste à la création et à la croissance de banlieues. Ce phénomène résulte de l’effort conjugué de promoteurs, d’industriels et d’entreprises de services publics. Dans l’axe de la rue Saint-Denis, des promoteurs assèchent les zones marécageuses pour développer la municipalité de Saint-Jean-Baptiste, créé en 1861 depuis le village de Côte-Saint-Louis et annexée à Montréal en 1886. À la fin du XIXe siècle, la petite municipalité, devenue quartier montréalais, loge une population ouvrière croissante.</p>
				</div>
			</div>
			<div class="timeline-classic-item">
				<div class="timeline-classic-item-aside"><img class="timeline-classic-item-image" src="images/premiere-eglise.jpg" alt=""/>
				</div>
				<div class="timeline-classic-item-divider"></div>
				<div class="timeline-classic-item-main">
					<p class="timeline-classic-item-title">1880 - 1910</p>
					<p class="thumbnail-classic-item-subtitle">Le véritable bâtisseur de la paroisse est le curé Magloire Auclair.</p>
					<p class="thumbnail-classic-item-description">Gestionnaire vigoureux et entreprenant, il dirige la paroisse pendant trente ans, de 1880 à 1910. Dès février 1881, il persuade les paroissiens d'assumer une partie de la dette. En 1882, les travaux sont complétés au presbytère et l'intérieur de l'église est parachevé d'après les plans des architectes Poitras et Roy. À son tour, en 1888, la sacristie est terminée. Cette même année, grâce à un don personnel du curé Auclair, le groupe d’architectes Poitras et Roy dirige la construction d’une grande chapelle (100 x 66 pieds) attenante à l'église, avec façade sur la rue Henri-Julien. Déjà en 1893, on installe l'électricité dans l'église et le presbytère.</p>
				</div>
			</div>
			<div class="timeline-classic-item">
				<div class="timeline-classic-item-aside"><img class="timeline-classic-item-image" src="images/incendie.jpg" alt=""/>
				</div>
				<div class="timeline-classic-item-divider"></div>
				<div class="timeline-classic-item-main">
					<p class="timeline-classic-item-title">1911 - 1915</p>
					<p class="thumbnail-classic-item-subtitle">Dans la nuit du 27 juin 1911, la deuxième église Saint-Jean-Baptiste est frappée par la foudre.</p>
					<p class="thumbnail-classic-item-description">L’incendie qui s’en suit est ravageur. L'avant-veille, on y avait inauguré un orgue du facteur Casavant. À ce second incendie, le presbytère subsiste et de l’église, seul demeure intact un petit drapeau tricolore installé parmi les clochetons pour les fêtes du 24 juin.</p>
				</div>
			</div>
			<div class="timeline-classic-item">
				<div class="timeline-classic-item-aside"><img class="timeline-classic-item-image" src="images/St-Jean_Baptiste_Montreal_2015.jpg" alt=""/>
				</div>
				<div class="timeline-classic-item-divider"></div>
				<div class="timeline-classic-item-main">
					<p class="timeline-classic-item-title">1967</p>
					<p class="thumbnail-classic-item-subtitle">En 1967, l’ensemble majestueux de l'église Saint-Jean-Baptiste a failli subir le même sort que quelques sanctuaires de la Métropole qui ont été « adaptés » aux goûts de l’époque.</p>
					<p class="thumbnail-classic-item-description">Les contrats sont signés pour l'exécution d'un « grand ménage ». On prévoit la suppression d'éléments jugés désuets, comme le maitre-autel et son baldaquin, la grande balustrade, etc. La nomination de l'abbé Paul Godin à la cure Saint-Jean- Baptiste a épargné l’église de ces travaux. Né dans la paroisse, il y exerce la majeure partie de son ministère sacerdotal. Fier et aimant de l’église Saint-Jean-Baptiste, il n'approuve pas cette dilapidation du bien commun, d'autant plus que les finances de la Fabrique ne permettent pas une telle dépense. Il fait venir l'entrepreneur-décorateur et lui déclare: « Puisque les contrats sont signés, faites votre ménage, mais je dois vous avertir d'une chose : c'est que vous ne serez pas payés. La paroisse n'en a pas les moyens ! » Les travaux planifiés ne sont pas exécutés.</p>
				</div>
			</div>
		</article>
	</div>
</section>

