<section class="section section-sm pb-0">
  <div class="container">
    <div class="row row-50 justify-content-center justify-content-lg-between">
      <div class="col-md-10 col-lg-6 align-self-center">
        {{ page.content|raw }}
{#
        <h3>Mot de bienvenue</h3>
        <h4 class="offset-top-3">Bienvenus sur le site de la paroisse Saint-Jean-Baptiste, à Montréal.</h4>
        <div class="group group-middle"><a class="button button-primary button-winona" href="https://www.facebook.com/eglisestjeanbaptiste">Facebook</a><a class="button button-primary-outline button-winona" href="https://www.youtube.com/channel/UCqYWKM2c6vV1EInnQ-X-hjQ">Youtube</a></div>
#}
      </div>
      <div class="col-md-10 col-lg-6 col-xl-5"><img src="images/St-Jean_Baptiste_Montreal_2015.jpg" alt=""/>
      </div>
    </div>
  </div>
</section>
